.hero {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 2rem 2rem;
}

.hero-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.hero-content h1 {
  margin-bottom: 1rem;
}

.hero-content p {
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-buttons .btn {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary {
  background-color: #ffb300;
  color: #fff;
}

.btn-secondary {
  background-color: white;
  color: #4caf50;
  border: 2px solid #fff;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  margin: 2rem 0;
  border-radius: 8px;
}

.hero-highlights {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
  max-width: 400px;
}

.hero-highlights li {
  margin-bottom: 10px;
  /* font-size: 1rem; */
  color: #fff;
}

.hero-small-note {
  /* font-size: 0.9rem; */
  color: #fff;
  margin-top: 20px;
}

/* Desktop view */
@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding: 4rem 2rem;
  }

  .hero-content {
    max-width: 50%;
  }

  .hero-buttons {
    flex-direction: row;
  }

  .hero-image {
    max-width: 50%;
  }

  .hero-image img {
    background-color: transparent;
    height: auto;
    max-width: 100%;
  }
}
